# Исключить файлы с расширением .xlsx
*.xlsx

# Исключить файлы с расширением .env
*.env

# Исключить директорию с виртуальным окружением Python
venv/

# Исключить файлы с расширениями .pyc и .pyo
*.pyc
*.pyo

# Исключить файлы сборки и кэширования
__pycache__/
.pytest_cache/